
header{
    padding: 50px;
}


label{
   font-family: "Book Antiqua";

}
button:hover{
    background-color: #008CBA;
    color: white;
}

img{
    align-content: center;
    padding: 10px;

}

body{
background: white;
}
div{
    position: initial;
    align-content: space-around;
    padding: 40px;
    background: beige;
    width: 300px;


}
button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: deepskyblue;
    border-radius: 30px;
    width: 40%;
    height: 30%;



}
input[type=text], input[type=password]
{   position: relative;
    align-content: center;
    width: 80%;
    padding: 8px 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    background: white;
}

input[type=submit]
{   position: center;
    background-color: blue;
    color: blue;
    padding: 8px 8px;
    margin: 8px 0px;
    border: solid;
    cursor: pointer;
    width: 50%;
}